<form>
        <div class="alert alert-warning" role="alert" *ngIf='invalidLogin'>
                {{message}}
              </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="username" [(ngModel)]="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button (click) = "logIn()" type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- <div>
        <p>log-in works!</p>
        <h1>{{errorMsg}}</h1>
        <div class="alert alert-message" *ngIf='invalidLogin'>{{message}}</div>
        <div>
                Username:<input type="text" name="username" [(ngModel)]="username">
                Password:<input type="password" name="password" [(ngModel)]="password">
                <button (click) = "logIn()" class="btn btn-success">Login</button>
        </div>
       
</div> -->
