<header>
    <!-- <div>Logo</div> -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand" href="#">Yash Technologies</a>
                  </div>
            <!-- Links -->
            
            <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" *ngIf="isLoggedInUser()">
                            <a class="nav-link" routerLink="/about">About</a>
                      </li>
                      <li class="nav-item" *ngIf="isLoggedInUser()">
                            <a class="nav-link" routerLink="/home">Home</a>
                      </li>
                      <li class="nav-item" *ngIf="isLoggedInUser()">
                            <a class="nav-link" routerLink="/user">User</a>
                      </li>
                    <li class="nav-item"  *ngIf="!isLoggedInUser()">
                          <a class="nav-link" routerLink="/login">LogIn</a>
                    </li>
                    <li class="nav-item"  *ngIf="isLoggedInUser()">
                          <a class="nav-link" routerLink="/logout">LogOut</a>
                    </li>
                    
                  </ul>
                  </div>
          </nav>
    
</header>
