<p>todolist works!</p>
<table class="table">
    
    <tbody>
        <tr>             
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>Target Date</th>
        </tr>
            
        <tr *ngFor="let todo of todolist">
            <td>
                <p>{{todo.id}}</p>
            </td>
            <td>
                <p>{{todo.description}}</p>
            </td>
            <td>
                <p>{{todo.status}}</p>
            </td>
            <td>
                <p>{{todo.targetDate | date | uppercase}}</p>
            </td>        
        </tr>
    </tbody>
</table>

