<p>home works!</p>
<h2>Hello {{name}}, Welcome to the app</h2>
<p>counter works!</p>
<!-- <input type="number" [(ngModel)]="count"> -->{{count}}
<button (click) = "Counter()">Counter</button>
<button (click) = "Reset()">Reset</button>

